._wrapper {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 20px;
}

._content {
  opacity: 0;
  width: 0;
  height: 0;
}

._slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.2s;

  border-radius: 10px;
}

._slider:not(._slider_active) {
  background-color: var(--switch_inactive_background);
}

._slider._slider_active {
  background-color: var(--switch_active_background);
}

._slider::before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 1px;
  bottom: 1px;
  -webkit-transition: 0.4s;
  transition: 0.2s;

  border-radius: 10px;
}

._slider:not(._slider_active)::before {
  background-color: var(--switch_inactive_slider_background);
}

._slider._slider_active::before {
  background-color: var(--switch_active_slider_background);
}

._content:checked + ._slider:before {
  transform: translateX(calc(50% + 18px / 6));
}
